{% extends "contest.html" %}

{% set page = "documentation" %}

{% block core %}
<div class="span9">

<div class="page-header">
    <h1>{% trans %}Rules &amp; Documentation{% endtrans %}</h1>
</div>

<h2>{% trans %}Contest rules / Why did I score zero?{% endtrans %}</h2>

<div>
    <p>
    You can download a copy of the contest rules below. You may wish to refer to these before, during or after the contest,
    or for possible reasons why a submission of yours did not achieve the result you expected.
    </p>

    <div>
    <a href="{{ url("static", "img", "rules.pdf") }}" class="btn btn-large
    btn-info">{% trans %}Download contest rules{% endtrans %}</a>
    </div>
</div>

<h2>{% trans %}Programming languages and libraries{% endtrans %}</h2>

<div>
    <p>
    This is a table of the allowed websites you can use as language references.
    </p>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{% trans %}Language{% endtrans %}</th>
      <th>{% trans %}Reference website{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C</td>
      <td><a href="https://en.cppreference.com/w/c">https://en.cppreference.com/w/c</a></td>
    </tr>
    <tr>
      <td>C++</td>
      <td><a href="https://en.cppreference.com/w/cpp">https://en.cppreference.com/w/cpp</a></td>
    </tr>
    <tr>
      <td>C#</td>
      <td><a
          href="https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/">https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/</a></td>
    </tr>
    <tr>
      <td>Pascal</td>
      <td><a
          href="https://www.freepascal.org/docs-html/ref/ref.html">https://www.freepascal.org/docs-html/ref/ref.html</a></td>
    </tr>
    <tr>
      <td>Java</td>
      <td><a
          href="https://docs.oracle.com/en/java/javase/11/docs/api/index.html">https://docs.oracle.com/en/java/javase/11/docs/api/index.html</a></td>
    </tr>
    <tr>
      <td>PHP</td>
      <td><a href="https://www.php.net/manual/en/langref.php">https://www.php.net/manual/en/langref.php</a></td>
    </tr>
    <tr>
      <td>Python 2</td>
      <td><a href="https://docs.python.org/2.7/">https://docs.python.org/2.7/</a></td>
    </tr>
    <tr>
      <td>Python 3</td>
      <td><a href="https://docs.python.org/3/">https://docs.python.org/3/</a></td>
    </tr>
  </tbody>
</table>

<h2>{% trans %}Submission details explanations{% endtrans %}</h2>

<p>
This year, we have updated the submission details messages to be self-contained.
If you require further explanation on what a message might mean, please consult the "Why Did I Score Zero?" section
in the rules above, or use the "Ask a question / messages" page to contact the judges.
</p>
{#
{% if contest.languages|map("to_language")|map(attribute="source_extensions")|any("contains", ".cpp") %}
<h3>C++</h3>

<p><a href="{{ url("stl", "en", "index.html") }}">{% trans %}Standard Template Library{% endtrans %}</a></p>
{% endif %}

{% if contest.languages|map("to_language")|map(attribute="source_extensions")|any("contains", ".java") %}
<h3>Java</h3>

<p>{% trans %}The main Java class of the solution should have exactly the same name as the task.{% endtrans %}</p>
{% endif %}
#}

{#
<h2>{% trans %}Submission details for compilation{% endtrans %}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{% trans %}Message{% endtrans %}</th>
      <th>{% trans %}Explanation{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in COMPILATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help_text) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>{% trans %}Submission details for evaluation{% endtrans %}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{% trans %}Message{% endtrans %}</th>
      <th>{% trans %}Explanation{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in EVALUATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help_text) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
#}

</div>
{% endblock core %}
