{% extends "contest.html" %}

{% macro file_plaque(filename, attachment) -%}
    {% set mime_type = get_mimetype_for_file_name(filename) %}
    {% if mime_type is not none %}
        {% set type_name = get_name_for_mimetype(mime_type) %}
        {% set type_icon = get_icon_for_mimetype(mime_type) %}
    {% else %}
        {% set type_name = none %}
        {% set type_icon = none %}
    {% endif %}
    {% set file_size = handler.application.service.file_cacher.get_size(attachment.digest) %}
    <li>
        <a href="{{ contest_url("tasks", task.name, "attachments", filename) }}" class="btn">
            {% if type_icon is not none %}
                <img src="{{ url("static", "img", "mimetypes", "%s.png"|format(type_icon)) }}" alt="{{ mime_type }}" />
            {% else %}
                <img src="{{ url("static", "img", "mimetypes", "unknown.png") }}" alt="{% trans %}unknown{% endtrans %}" />
            {% endif %}
            <span class="first_line">
                <span class="name">{{ filename }}</span>
		{#<span class="size">{{ file_size|format_size }}</span>#}
            </span>
            {% if type_name is not none %}
                <span class="type">{{ translation.translate_mimetype(type_name)|replace('Python 3', 'Python 2/3') }}</span>
            {% endif %}
        </a>
    </li>
{%- endmacro %}

{% set page = "task_description" %}

{% block core %}


<div class="span9 task_description">


<div class="page-header">
    <h1>{% trans name=task.title, short_name=task.name %}{{ name }} ({{ short_name }}) <small>description</small>{% endtrans %}</h1>
</div>


{#
<h2>{% trans %}Statement{% endtrans %}</h2>

{% if task.statements|length == 0 %}
<div class="row statement no_statements">
    <div class="span9">
        {% trans %}no statement available{% endtrans %}
    </div>
</div>
{% elif task.statements|length == 1 %}
<div class="row statement one_statement">
    <div class="span9">
    {% for lang_code in task.statements %}
        <a href="{{ contest_url("tasks", task.name, "statements", lang_code) }}" class="btn btn-large btn-success">{% trans %}Download task statement{% endtrans %}</a>
    {% endfor %}
    </div>
</div>
{% else %}
<div class="statement many_statements">
    <div class="main_statements">
        <p>
            {% trans %}The statement for this task is available in multiple versions, in different languages.{% endtrans %}
            {%+ trans %}You can see (and download) all of them using the list on the right.{% endtrans %}
            {%+ trans %}Some suggested translations follow.{% endtrans %}
        </p>
    {% for statement in itervalues(task.statements)|sort(attribute="language") %}
        {% if statement.language in task.primary_statements %}
        <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}" class="btn btn-large btn-success">
            {% set language_name = statement.language|format_locale %}
            {% if statement.language != language_name %}
                {% trans lang=language_name %}Statement in <b>{{ lang }}</b>{% endtrans %}
            {% else %}
                {% trans lang=language_name %}Statement in {{ lang }}{% endtrans %}
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
    {% for statement in itervalues(task.statements)|sort(attribute="language") %}
        {% if statement.language in participation.user.preferred_languages and statement.language not in task.primary_statements %}
        <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}" class="btn btn-large">
            {% set language_name = statement.language|format_locale %}
            {% if statement.language != language_name %}
                {% trans lang=language_name %}Statement in <b>{{ lang }}</b>{% endtrans %}
            {% else %}
                {% trans lang=language_name %}Statement in {{ lang }}{% endtrans %}
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
    </div>
    <div class="all_statements well">
        <div>
            <ul>
    {% for statement in itervalues(task.statements)|sort(attribute="language") %}
                <li>
                    <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}">
        {% set language_name = statement.language|format_locale %}
        {% if statement.language != language_name %}
            {% trans lang=language_name %}<b>{{ lang }}</b>{% endtrans %}
        {% else %}
            {% trans lang=language_name %}{{ lang }}{% endtrans %}
        {% endif %}
                    </a>
                </li>
    {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
#}


<h2>{% trans %}Task details{% endtrans %}</h2>

<table class="table table-bordered table-nohover" style="table-layout: fixed">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <tbody>
{% set task_type = get_task_type(dataset=task.active_dataset) %}
{#
        <tr>
            <th>{% trans %}Type{% endtrans %}</th>
            <td colspan="2">{{ task_type.name }}</td>
        </tr>
#}
{% if task.active_dataset.time_limit is not none %}
        <tr>
            <th>{% trans %}Time limit{% endtrans %}</th>
            <td colspan="2">{{ task.active_dataset.time_limit|format_duration(length="long") }}</td>
        </tr>
{% endif %}
{% if task.active_dataset.memory_limit is not none %}
        <tr>
            <th>{% trans %}Memory limit{% endtrans %}</th>
            <td colspan="2">{{ (task.active_dataset.memory_limit * 1024 * 1024)|format_size }}</td>
        </tr>
{% endif %}
{% if task_type.name == "Batch" %}
        <tr>
            <th>{% trans %}Input File{% endtrans %}</th>
	    <td colspan="2"><pre>{{ task_type.get_input_filename() or "standard input" }}</pre></td>
        </tr>
        <tr>
            <th>{% trans %}Output File{% endtrans %}</th>
	    <td colspan="2"><pre>{{ task_type.get_output_filename() or "standard output" }}</pre></td>
        </tr>
{% endif %}
{% set compilation_commands = task_type.get_compilation_commands(task.submission_format) %}
{#
{% if compilation_commands is not none %}
{% set compilation_commands = compilation_commands|dictselect("in", contest.languages, by="key") %}
<tr>
    <th rowspan="{{ compilation_commands|length }}">{% trans %}Compilation commands{% endtrans %}</th>
    {% for l, c in compilation_commands|dictsort(by="key") %}
        {% if not loop.first %}
</tr>
<tr>
        {% endif %}
    <td>{{ (l|to_language).name }}</td>
    <td class="compilation_command_cell">
{% for cmd in c %}
        <code class="compilation_command">{{ cmd|join(" ") }}</code>
{% endfor %}
    </td>
    {% endfor %}
</tr>
{% endif %}
#}

{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_tasks != TOKEN_MODE_DISABLED %}
<tr>
    <th>{% trans %}Tokens{% endtrans %}</th>
    <td colspan="2" class="token_rules">
    {% if tokens_contest == TOKEN_MODE_INFINITE and tokens_tasks == TOKEN_MODE_INFINITE %}
        <p>
        {% trans %}You have an infinite number of tokens.{% endtrans %}
        </p>
    {% elif tokens_contest == TOKEN_MODE_INFINITE %}
        <p>
        {{ task|extract_token_params|format_token_rules }}
        </p>
    {% elif tokens_tasks == TOKEN_MODE_INFINITE %}
        <p>
        {% trans type_pl=_("tokens"), contest_root=contest_url() %}You can find the rules for the {{ type_pl }} on the <a href="{{ contest_root }}">contest overview page</a>.{% endtrans %}
        </p>
    {% else %}
        <p>
        {{ task|extract_token_params|format_token_rules(t_type="task") }}
        </p>

        <p>
        {% trans %}Remember that to see the detailed result of a submission you need to use both a contest-token and a task-token.{% endtrans %}
        {%+ trans type_pl=_("contest-tokens"), contest_root=contest_url() %}You can find the rules for the {{ type_pl }} on the <a href="{{ contest_root }}">contest overview page</a>.{% endtrans %}
        </p>
    {% endif %}
    </td>
</tr>
{% endif %}
    </tbody>
</table>


{#
    For this to work, you should upload attachments named:
        - linux-<NAME>.<EXT> for Mac / Linux templates. Beginning with "linux" is how the code below works out which section to show it in.
        - windows-<NAME>.<EXT> for Windows templates. Beginning with "windows" is how the code below works out which section to show it in.
        - *.txt for the sample cases. They're shown in lexicographical order, so sample1in.txt, sample1out.txt, sample2in.txt... is a sensible naming scheme
#}
{% if task.attachments|length > 0 %}
    {# Templates #}
    <h2>{% trans %}Templates{% endtrans %}</h2>

    {% for platform in ["Windows", "Unix (Mac / Linux)"] %}
        <h3>{% trans %}For {{ platform }}{% endtrans %}</h3>
        <div class="attachments">
            <ul>
            {% for filename, attachment in task.attachments|dictsort(by="key") %}
                {% if not filename.endswith(".txt") %}
                    {% if filename.startswith("windows") is sameas (platform == "Windows") %}
                        {{ file_plaque(filename, attachment) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {# Sample Data #}
    <h2>{% trans %}Sample Data{% endtrans %}</h2>

    {# Horrible hack to show in 2 columns so that inputs and outputs line up #}
    {# Only shows samples up to 4 #}
    {% for platform in ["Windows", "Unix (Mac / Linux)"] %}
    <h3>{% trans %}For {{ platform }}{% endtrans %}</h3>
    {% for i in range(1, 5) %}
        <div class="attachments">
            <ul>
            {% for filename, attachment in task.attachments|dictsort(by="key") %}
                {% if filename.endswith(".txt") and i|string in filename %}
                    {% if filename.startswith("windows") is sameas (platform == "Windows") %}
		        {{ file_plaque(filename, attachment) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% endfor %}
{% endif %}

</div>
{% endblock core %}
